
.Event {
    margin: 5px 0px !important;
    background-color: transparent;
    border: 2px solid #4a4e54;
    border-radius: 0px;
    height: calc(100% - 10px);
}

.Event-link {
    color: inherit;
}

.Event-link:hover {
    color: #009fe3 !important;
    text-decoration: none;
}

.Event:hover {
    background-color: rgba(0, 159, 227, 0.1);
}

.Event .card-img-wrapper {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    margin: auto;
}

.Event .card-img-wrapper img {
    object-fit: cover;
}

.Event .card-title {
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 65px;
}

.Event .card-date {
    position: absolute;
    background: #009fe3;
    text-align: center;
    padding: 10px;
    color: #fff;
    bottom: 0;
    right: 10px;
    text-transform: uppercase;
    line-height: 1;
}

.Event .card-type {
    position: absolute;
    background: #e40613;
    text-align: center;
    padding: 10px;
    color: #fff;
    top: 0;
    left: 10px;
    text-transform: uppercase;
}

.Event .card-img-top {
    border-radius: 0px !important;
    background-image:
      linear-gradient(45deg, #4a4e54 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #4a4e54 75%),
      linear-gradient(45deg, transparent 75%, #4a4e54 75%),
      linear-gradient(45deg, #4a4e54 25%, transparent 25%);
    background-size:10px 10px;
    background-position: 0 0, 0 0, -5px -5px, 5px 5px;
}

.Event .card-img-wrapper img {
    object-fit: contain;
}