nav {
	background: #26282b !important;
	font-family: "Retro Gaming", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    border-right: 2px solid #666;
}

.Menu-log-out-nav-item {
	position: absolute !important;
	bottom: 10px !important;
	width: 100%;
}

.Menu-bug-nav-item {
	position: absolute !important;
	bottom: 60px !important;
	width: 100%;
}

nav i {
	padding-top: 12px !important;
}

.Menu-notification {
	color: white;
	font-size: 12px;
	height: 20px;
	line-height: 15px;
	border-radius: 20px;
	background-color: #e40613;
	padding: 3px 7px;
	position: absolute;
	top: 23px;
	right: 10px;
}

.Menu-highlight {
    animation: colorchange 1.5s linear infinite;
}

@keyframes colorchange {
  0% { color: #f9dcdd; }
  50% { color: #e40613; }
  100% { color: #f9dcdd; }
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    color: grey;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    color: #009fe3 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
    background: rgba(0, 159, 227, 0.1) !important;
}

.sidenav---navtext---1AE_f {
	font-size: 25px !important;
}

.Menu-discord a {
	color: #5865F2 !important;
}