
.PageHome-lux-image {
	width: 100%;
	height: 100%;
}

.PageHome-top-row {
	margin: 40px 0px 20px 0px;
    font-size: 70px;
    font-family: "mkzodsqu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.PageHome-intro {
	padding: 40px 20px;
	font-size: 35px;
	vertical-align: middle;
    line-height: 1;
}

.PageHome-see-more {
	width: 100%;
	height: calc(100% - 10px);
	text-align: center;
    margin: 5px 0px !important;
    background-color: transparent;
    border: 2px solid #4a4e54;
    border-radius: 0px;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #ccc !important;
}

.PageHome-see-more:hover {
    background-color: rgba(0, 159, 227, 0.1);
}

.PageHome-see-more:hover {
    color: #009fe3 !important;
    text-decoration: none !important;
}

.PageHome-network {
    position: relative;
    border: 2px solid #4a4e54;
}

.PageHome-network:hover {
    background-color: rgba(0, 159, 227, 0.1);
}

.PageHome-network-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}